
<div class="contact">
    <div class="contact__background">
        <div class="container">
          <div class="text-center">
            <h3 class="contact__primary--main">support clients</h3>
            <p class="contact__primary--sub">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
          </div>
          <form class="contact__form">
              <div class="contact__form--padding">
              <div class="row">
                <div class="col-md-5 col offset-md-2">
                  <input type="text" class="form-control contact__form--item mb-3" placeholder="Your Name">
                  <input type="text" class="form-control contact__form--item mb-3" placeholder="Your Email">
                  <textarea class="form-control form-control contact__form--item mb-3" placeholder=" Your message" rows="7"></textarea>
                  <button type="submit" class="contact__form--button">Send</button>
                </div>
                <div class="col-md-3 col ">
                  <div class="contact__icons">
                    <i class="fa fa-headphones fa-2x contact__icons--design-icon "></i>
                    <h6>telephone</h6>
                    <p>01204863456</p>
                    <i class="fa fa-envelope fa-2x contact__icons--design-icon"></i>
                    <h6>Email address</h6>
                    <p>amna.atef.fci96@gmail.com</p>
                  </div>
                </div>
              </div>
              </div>
            </form>
      
          
        </div>
    </div>
    </div>
      