<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
           <div class="row">
               <div class="col-md-8 col">
                    <a class="navbar-brand" href="#">LOGo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
               </div>
               <div class="col-md-4 col">
                    
        <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us">CONTACTUS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Features</a>
              </li>
            <li class="nav-item">
              <a class="nav-link disabled" routerLink="">Disabled</a>
            </li>
          </ul>
        </div>
               </div>
           </div>
    </div>
      </nav>
   
</div>
