<div class="home">
    <div class="home__background">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col">
                    <img class="home__image" src="../../../assets/img/hero-image.png" width="250">
                </div>
                <div class="col-md-6 col">
                    <h1 class="home__title">welcome at <strong class="home__title-bold">fantastic</strong></h1>
                    <p class="home__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto earum itaque et. Nemo molestias earum expedita temporibus delectus illum animi, a eveniet autem corrupti consequuntur possimus, praesentium officiis cum! Nesciunt.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
