.contact{
    &__background{
        background-image: url('../../../img/support-bg.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
    }
    &__primary--main{
        text-transform: uppercase;
        color: $color-support-primary;
        padding-top: 50px;
    }
    &__primary--sub{
        text-transform: uppercase;
        color: $color-support-primary;
        margin-bottom: 50px;
    }
    &__form{
        border: 1x solid #95a5a6;
        background-color: $color-support-primary;
    }
    &__form--padding{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__form--item{
        background-color: #ecf0f1 !important;
    }
    &__form--button{
        @include buttons;
    }
    &__icons{
        background-color: #ecf0f1;
        text-align: center;
    }
    &__icons--design-icon{
        color: #cf6a87;
        
    }
}