.home{
    &__background{
        background-image: url('../../../img/home-bg.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 90vh;
    }
    &__image{
        margin: 50px auto;
    }
    &__title{
        margin-top: 150px;
        margin-bottom: 30px;
        color: $color-primary;
        text-transform: uppercase;
    }
    &__title-bold{
        color: $color-secondary;
    }
    &__paragraph{
        color: $color-primary;
        
    }
}